{{define "main"}}
<cover>
  <block>
    <h2>create a kurz</h2>
    <quote>short your url quickly</quote>
    <br>
    <form action="/a/links" method="post">
      <input type="url" id="i-link" placeholder="https://tra.sh" autofocus>
      <block>
        <button id="b-submit" type="submit">Kurz</button>
      </block>
    </form>
  </block>
</cover>
{{end}}

{{template "layout.main.tmpl" .}}
