{{define "main"}}
<h2>login</h2>

<form action="/login" method="post" small>
  <label for="i-email">email</label>
  <input type="email" name="email" placeholder="hi@tra.sh">
  <br><br>
  <label for="i-password">password</label>
  <input type="password" name="password" placeholder="s3cr3t">
  <br>
  <block>
    <button type="submit">Login</button>
  </block>
</form>
{{end}}

{{template "layout.main.tmpl" .}}
