{{define "main"}}
<h2>register</h2>

<form action="/register" method="post" small>

  <label for="i-email">email</label>
  <input type="email" name="email" placeholder="hi@tra.sh">
  <br><br>

  <label for="i-password">password (<i>8+ chars</i>)</label>
  <input type="password" name="password" placeholder="s3cr3t">
  <br>

  <p>
    by clicking "register" I accept the
    <br>
    <a href="/terms">terms of service</a>
  </p>

  <br>

  <block>
    <button type="submit">Register</button>
  </block>
</form>
{{end}}

{{template "layout.main.tmpl" .}}
