{{define "main"}}
<h2>terms</h2>

<p style="text-align: justify;">
By using this site (<u>https://gokurz.tk</u>) you agree everything that is
listed below this sentence. In terms of laws you agree on your local laws and
are responsible for any actions you do and will do on this website. I, as the
owner of the website will transfer any reponsibility each specific user and
their actions. I, Daniel Oltmanns will not be responsible for anything that
will be or has been done on this website.
<br><br>
For damages that will be caused by anything beloging to this website, each user
is responsible to take credit and cooperate with the damaged persons. In order
to be able to get user informations please use the report page, more infos
<a href="">here</a>.
<br><br>
If an automatic action, that has been or will be made by the website, I as the
owner will take no responsibilty. Each user is and will be responsible for
anything that will be executed by the website with a releation to their
account.
<br><br>
To protect these terms, I as the owner of the website are allowed to change
these in any way to make it suit the laws and my personal rules. Users that are
registered or not are so on responsible to check these terms at relative
intervals to check if they are offending any rules.
<br><br>
<b>last change:</b> <u>22th May 2018</u>
</p>
{{end}}

{{template "layout.main.tmpl" .}}
