{{define "main"}}
<cover>
  <block>
    <h2>create a kurz</h2>
    <quote>short your url quickly</quote>
    <br>
    <form action="/links" method="post">
      <input type="url" name="link" placeholder="https://tra.sh" autofocus>
      <block>
        <button type="submit">Click</button>
      </block>
    </form>
  </block>
</cover>
{{end}}

{{template "layout.main.tmpl" .}}
