{{define "main"}}
<h2>about</h2>
<p>
<u>https://this-is-lo.ng/very-lo</u>...
=>
<u>https://gokurz.tk/l/hello</u>
</p>
<br>
<p>
Convert a very long url to a short more rememberable url that you can faster in order to visit the site. Easy to type and customizable.
<br><br>
Bored by the randomly generated urls? Just set your slug to an custom text to
convert an <u>423jjaf9ewr</u> to a <u>hello-world</u>.
</p>

<br><br>

<center>
  <a href="/">start</a>
</center>

{{end}}

{{template "layout.main.tmpl" .}}
