<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- HTML setup -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Browser tags -->
    <meta name="theme-color" content="#212121">

    <!-- Search engine tags -->
    <meta name="google" content="notranslate">
    <meta name="google" content="nositelinkssearchbox">
    <meta name="robots" content="index,follow">

    <!-- Page title -->
    <title>{{.title}}</title>

    <link rel="stylesheet" href="/assets/style.min.css">
  </head>

  <body>
    <header>
    {{if .error}}
      <flash error>{{.error}}</flash>
    {{end}}
    {{if .info}}
      <flash info>{{.info}}</flash>
    {{end}}
    </header>

    <brand><a href="/">kurz</a></brand>

    <main>
      {{template "main" .}}
    </main>

    <footer>
      &copy; Copyright 2018 - present : <a href="https://github.com/oltdaniel" target="_blank">Daniel Oltmanns</a>
      <br><br>

      <a href="/terms">Terms</a> &Oslash; <a href="/about">About</a> &Oslash; <a href="/login">Login</a> &Oslash; <a href="/register">Register</a>
    </footer>
  </body>

  <script src="/assets/script.min.js" charset="utf-8"></script>

</html>
