{{define "main"}}
<form>
  <input type="url" id="i-link" placeholder="https://tra.sh" autofocus>
  <button id="b-submit" type="submit">Kurz</button><br>
  <input type="text" id="i-slug" placeholder="custom shortcut"
style="max-width: 300px; margin: 0 auto;">
</form>

<br><br>

<h2>links</h2>

<script type="text/javascript">
var t = '{{.token}}';
</script>
{{end}}

{{template "layout.user.tmpl" .}}
